.products-list {
  padding-top: 25px;
}

.products-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px 50px;
}

.products-grid-item-price-cart {
  opacity: 1;
  transform: all ease 0.5s;
}

.products-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.5em;
}

.products-grid-item-image {
  transition: transform 0.8s;
}
.products-grid-item-image:hover {
  transform: rotateY(180deg);
}

.products-grid-item-price-cart-icon {
  transition: transform 0.8s;
}

.products-grid-item-price-cart-icon:hover {
  transform: scale(1.2);
}
.products-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.products-pagination-element {
  font-size: larger;
}

@media (min-width: 601px) {
  .products-grid-container.m {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 993px) {
  .products-grid-container.l {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .products-pagination.l {
    justify-content: right;
  }
}
