.products-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 993px) {
  .products-container.l {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 601px) {
  .products-container.m {
    grid-template-columns: 1fr 1fr;
  }
}


// media queries are defined here