.users-list {
    padding-top: 25px;
}

.users-profile-container-avatar-img-backgroud {
    width: 560px;
    height: 200px;
}

.users-profile-container-avatar-img-container {
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}