@use 'root';
@use 'products';

.container {
  display: flex;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.paper-style1 {
  padding: "30px 20px";
  width: 300px;
  margin: "20px auto";

}

@media (min-width: 993px) {
  .paper-style1.l{
    width: 600px;
  }  
}
